@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
.header {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  padding: 2vw 5vw;
}
.header__list1 li:nth-child(3) {
  color: white;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.list {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: space-evenly;
}

.item--molibe {
  color: rgb(179, 179, 186);
}

.list2__color {
  color: rgb(36, 163, 255);
}

.list1 li:nth-child(1):hover,
.list1 li:nth-child(2):hover {
  background-color: rgba(245, 245, 250, 0.2);
  padding: 0.5vw;
  border-radius: 10px;
}

.list2 {
  display: flex;
  gap: 1vw;
  align-items: flex-start;
  justify-content: space-evenly;
}
.list2__accent {
  color: rgb(240, 20, 90);
  border-bottom: 2px solid rgb(240, 20, 90);
}

.item {
  font-weight: 700;
  padding: 1vw 0;
}
.item--kyiv-size {
  font-weight: 400;
}

.background {
  padding: 0.5vw;
  border-radius: 10px;
  background-color: rgb(240, 20, 90);
  color: #fff;
}

.footer {
  background-color: rgb(245, 245, 250);
  padding: 1vw 5vw;
  justify-content: space-between;
}
.footer__inner-border {
  border-top: 2px solid rgb(230, 230, 240);
  display: flex;
  justify-content: space-between;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__grid {
  display: flex;
  flex-direction: column;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: center;
}
.footer__grid2 {
  margin: 1vw 0;
}

.list-footer1__color {
  color: rgb(36, 163, 255);
}
.list-footer1 .item--map {
  color: rgb(36, 163, 255);
}

.footer-mobile {
  font-weight: 400;
}

.footer-table__grid2 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(179, 179, 186);
}

.list-footer1__color3:hover {
  color: rgb(240, 20, 90);
}

.footer__grid2 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(179, 179, 186);
}

* {
  font-family: Montserrat;
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}

.list2 {
  font-weight: 700;
  font-size: 16px;
}

.list2__color:hover {
  border-bottom: 2px solid rgb(36, 163, 255);
}

.list-footer1__color:hover {
  color: #f0145a;
}

.title--block1 {
  font-size: 38px;
}
.title--p {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.text {
  font-weight: 400;
}
.text--block1 {
  font-size: 19px;
  line-height: 30px;
}
.text--block2 {
  font-size: 16px;
  line-height: 20px;
}
.text--block3 {
  font-size: 19px;
  line-height: 30px;
}
.text--block3-p {
  font-size: 19px;
  line-height: 30px;
}

.item--number {
  color: rgb(70, 70, 110);
}
.item--kyiv {
  color: rgb(70, 70, 110);
  font-weight: 400;
}
.item--mobile {
  color: rgb(179, 179, 186);
}
.item--mobile:hover {
  border-radius: 10px;
  padding: 0.5vw;
  background: rgb(216, 216, 222);
}
.item--background2 {
  padding: 0.5vw;
  background: #f0145a;
  border-radius: 10px;
  color: white;
}

.main__wrapper {
  padding: 2vw 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  background: url("./Team.jpg");
  background-size: 100% 100%;
  height: 500px;
  background-repeat: no-repeat;
  position: relative;
}
.photo__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 86px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 100px;
  text-align: center;
}

.wrapper2 {
  padding: 6vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wrapper2__block3 {
  width: 80%;
  padding: 0 1vw 0 0;
}
.wrapper2__block4 {
  padding: 0 0 0 2vw;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
}

.block3__p {
  margin: 1vw 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.block3__p2 {
  font-size: 19px;
  line-height: 30px;
}

.companys {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw 0vw;
  background-color: rgb(245, 245, 250);
}
.companys__inner {
  padding: 3vw 0;
  display: flex;
  gap: 2vw;
  justify-content: center;
}
.companys__poins {
  display: flex;
  gap: 1vw;
}

.background {
  padding: 0.5vw;
  border-radius: 10px;
  background-color: rgb(240, 20, 90);
  color: #fff;
}

.block1 {
  width: 60%;
  padding: 0 2vw 0 0;
}
.block1__title {
  margin: 2vw 0;
  background-color: rgb(240, 20, 90);
  background-image: linear-gradient(90deg, rgb(240, 20, 90), #ef8080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block1__text {
  margin: 4vw 0;
}

.block2 {
  border-left: 4px solid rgb(230, 230, 240);
  padding: 0 0 0 2vw;
  display: flex;
  gap: 1vw;
  flex-direction: column;
}
.block2__span {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  background-color: rgb(240, 20, 90);
  background-image: linear-gradient(90deg, rgb(240, 20, 90), rgb(239, 128, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.inner__img {
  padding: 2vw 6vw;
  border-radius: 20px;
  background-color: #fff;
}

.block3__text-p {
  margin: 2vw 0;
}

.title-p {
  background-color: rgb(240, 20, 90);
  background-image: linear-gradient(90deg, rgb(240, 20, 90), rgb(239, 128, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer__inner {
  width: 90%;
  padding: 2vw 0;
  border-top: 2px solid rgb(230, 230, 240);
}

@media screen and (max-width: 3000px) {
  .footer-mobile {
    display: none;
  }
  .burger {
    display: none;
  }
  .header-table {
    display: none;
  }
  .companys-mobile {
    display: none;
  }
}
.footer-mobile {
  display: none;
}

@media screen and (max-width: 1400px) {
  .photo__title {
    font-size: 70px;
    letter-spacing: 80px;
  }
  .inner__img {
    padding: 2vw 4vw;
  }
}
@media screen and (max-width: 1000px) {
  .photo {
    height: 300px;
  }
  .photo__title {
    font-size: 50px;
    letter-spacing: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .inner__img {
    padding: 1vw 3vw;
    background-color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .item--mobile:hover {
    border-radius: 10px;
    padding: 1vw;
    background: rgb(216, 216, 222);
  }
  .item--background2 {
    padding: 0.5vw;
    background: #f0145a;
    border-radius: 10px;
    color: white;
  }
  .header {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__grid2 {
    text-align: center;
  }
  .burger-menu {
    display: none;
  }
  .main__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 6vw;
  }
  .img--first {
    width: 60px;
  }
  .photo {
    height: 300px;
  }
  .photo__title {
    font-size: 60px;
    letter-spacing: 50px;
  }
  .inner {
    padding: 4vw 0vw;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
  }
  .inner :first-child {
    width: 46px;
  }
  .inner__img {
    width: 80px;
    border-radius: 10px;
    padding: 2vw 6vw;
  }
  .inner__img1 {
    width: 80px;
    border-radius: 10px;
  }
  .header-table {
    display: flex;
    padding: 3vw 5vw;
    align-items: flex-start;
  }
  .name {
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .publications__wrap-block {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap-grid {
    border-bottom: 5px solid rgb(202, 202, 219);
    padding: 3vw 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
  }
  .wrap-grid__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
  }
  .list {
    justify-content: flex-start;
    gap: 2vw;
  }
}
@media screen and (max-width: 425px) {
  .inner {
    display: flex;
  }
  .hamburger {
    top: 4.5em;
    right: 7%;
    position: absolute;
    width: 2em;
    z-index: 5;
  }
  .block1 {
    width: 90%;
  }
  .header-table {
    display: none;
  }
  .hamburger-menu__wrap {
    display: flex;
    justify-content: space-between;
    padding: 2vw 5vw;
    background-color: rgba(245, 245, 250, 0.2);
  }
  .hamburger-menu__inner {
    display: flex;
    justify-content: space-between;
  }
  .photo {
    height: 150px;
  }
  .photo__title {
    font-size: 20px;
    letter-spacing: 30px;
  }
  .companys {
    display: none;
  }
  .main__wrapper {
    padding: 4vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .block1 {
    border: none;
    padding: 0 2vw 0 0;
  }
  .block1__title {
    margin: 2vw 0;
  }
  .block2 {
    border-left: 3px solid rgb(179, 179, 186);
    width: 89%;
  }
  .block3__p {
    margin: 4vw 0;
  }
  .wrap-grid {
    border-bottom: 5px solid rgb(202, 202, 219);
    padding: 3vw 5vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
  }
  .wrap-grid__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
  }
  .wrap-grid__box img {
    width: 90px;
  }
  .companys-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw 0vw;
    background-color: rgb(245, 245, 250);
  }
  .companys-mobile__poins {
    display: flex;
    gap: 4vw;
  }
  .inner {
    padding: 2vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
  }
  .inner__img {
    margin: 10vw 0;
    padding: 3vw 25vw;
    border-radius: 20px;
    background-color: #fff;
  }
  .wrapper2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  .footer-mobile {
    background: rgb(245, 245, 250);
    display: flex;
    gap: 2vw;
    flex-direction: column;
  }
  .footer-mobile__grid {
    margin: 0 8vw;
    border-top: 2px solid rgb(230, 230, 240);
  }
  .footer-mobile .list-footer1 {
    padding: 4vw 0;
  }
  .footer-mobile__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
  }
  .footer-mobile__grid2 {
    text-align: center;
    padding: 0 0 4vw 0;
  }
  input {
    display: none;
  }
  .burger {
    display: inline;
  }
  .hamburger {
    top: 4.5em;
    right: 7%;
    position: absolute;
    width: 2em;
    z-index: 5;
  }
  .hamburger div {
    position: relative;
    width: 2em;
    height: 4px;
    border-radius: 3px;
    background-color: gray;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  label.hamburger:hover {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 1vw;
  }
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 100);
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: 500px;
    overflow: hidden;
    overflow-y: auto;
    margin: 0 2vw;
  }
  nav {
    text-align: center;
    background: rgb(50, 50, 100);
  }
  .inner3 {
    padding: 4vw 0;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(36, 163, 255);
    font-size: 2em;
  }
  .inner3__color {
    color: rgb(240, 20, 90);
  }
  .inner3__color {
    border-radius: 10px;
    width: 70%;
    color: rgb(240, 20, 90);
    padding: 2vw 10vw;
    background: rgb(245, 245, 250);
    margin: 2vw 0;
    display: inline-block;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  .inner3__color2 {
    border-radius: 10px;
    width: 70%;
    color: rgb(36, 163, 255);
    padding: 2vw 10vw;
    background: rgb(245, 245, 250);
    margin: 2vw 0;
    display: inline-block;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  .inner3 li {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  nav a {
    text-decoration: none;
    color: rgb(36, 163, 255);
    font-size: 2em;
    padding: 4vw 10vw;
    background: rgb(245, 245, 250);
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  .wrap-burger {
    display: flex;
    justify-content: space-between;
    padding: 4vw 6vw;
    background: rgb(245, 245, 250);
  }
  .wrap-burger__list1 {
    align-items: center;
    display: flex;
    list-style-type: none;
    gap: 2vw;
  }
  .wrap-burger__item a {
    color: rgb(179, 179, 186);
  }
  .input {
    display: none;
  }
  .logo-burger {
    padding: 4vw 6vw;
  }
  .logo-burger img {
    width: 60vw;
  }
}/*# sourceMappingURL=about-us.css.map */